html,body,.container,.row{
    height:100vh;
}
.container{
    margin-top: 10px;
    margin-left:0;
    margin-right:0;
}
#side-col{
    background-color: #292626;
    height: auto;
}
#profile {
    margin-top: 5%;
}
#img{
    border-radius: 50%;
    height:150px;
    width:150px;
}
@media screen and (max-width:700px){
    #side-col{
        display:none;
    }
}

@media screen and (max-width:991px){
    #file{
        display:none;
    }
    #both-tasks{
        display:flex;
        flex-direction: column;
    }
    .row-cols-2>*{
        max-width:100%;
    }
}